/* IMPORTANT, controls the placement fo the cals to axtion that float in */
.column,
.columns {
    width: 100vw;
    float: left;
    box-sizing: border-box;
}
/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
        width: 99%;
        padding: 0;
    }
}

    
    .four.columns {
        width: 30.6666666667%;
    }
    ''
html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
    /* currently ems cause chrome bug misinterpreting rems on body element */
    line-height: 1.6;
    font-weight: 400;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
    height: 100vh;
}

a {
    color: #1EAEDB;
}

a:hover {
    color: rgb(206, 203, 15);
}


.u-full-width {
    width: 100%;
    box-sizing: border-box;
}

.u-max-full-width {
    max-width: 100%;
    box-sizing: border-box;
}

.u-pull-right {
    float: right;
}

.u-pull-left {
    float: left;
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}

/* Main content
  –––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
    font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
}

h1 {
    color: #ccc;
    weight: 300;
}

figure {
    margin: auto;
}

.content {
    position: relative;
    z-index: 2;
    margin-bottom: 4px;
}

.content article {
    padding: 100px 0;
    max-width: 640px;
    margin: 0 auto;
    text-align: center;
}

img {
    max-width: 100%;
}


/* <---------------------------------------------------
                    
                HEADER ELEMENTS BELOW

 --------------------------------------------------->*/
.paralax-header-box {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(0deg, #4CA59B 40%, #1e443f 50%, #000 10%);
    background: -webkit-linear-gradient(0deg, #4CA59B 0%, #4ca59b 100%);
    background: -o-linear-gradient(0deg, #4CA59B 0%, #4ca59b 100%);
    background: -moz-linear-gradient(0deg, #4CA59B 0%, #4ca59b 100%);
    background-size: auto 600px;
    background-size:cover;
background-position:center center;
    background-attachment: fixed;
    z-index: -999999999;
}

.paralax-cal {
    width: 600px;
    height: 900px;
    background-image: url(../images/paralax-intro-master-art/cal-paralax.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-size:cover;
    background-position:center center;
    margin: 10vw 0 0 40vw;
    filter: drop-shadow( 1px 1px 8px rgba(117, 119, 117, 0.479));
}

#paralax-gears {
  width: 600px;
  height: 900px;
  background-image: url(../images/paralax-intro-master-art/gears-paralax.svg);
  background-repeat: no-repeat;
  position: absolute;
  z-index: -5;
  top: 0;
  left: 0;
  background-size:cover;
  background-position:center center;
  margin: 10vw 0 0 40vw;
  filter: drop-shadow( 1px 1px 8px rgba(117, 119, 117, 0.479));

}


.paralax-stars {
    width: 600px;
    height: 900px;
    background-image: url(../images/paralax-intro-master-art/stars-paralax.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: -3;
    top: 0;
    left: 0;
    background-size:cover;
    background-position:center center;
    margin: 10vw 0 0 40vw;
    filter: drop-shadow( 1px 1px 8px rgba(117, 119, 117, 0.479));
}

 .paralax-clock {
    width: 600px;
    height: 900px;
    background-image: url(../images/paralax-intro-master-art/clock-paralax.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    overflow: visible;
    z-index: -4;
    top: 0;
    left: 0;
    background-size:cover;
    margin: 10vw 0 0 40vw;
    background-position:center center;
}



.paralax-envilope {
    width: 600px;
    height: 900px;
  background-image: url(../images/paralax-intro-master-art/envilope-paralax.svg);
  background-repeat: no-repeat;
  position: absolute;
  z-index: -4;
  top: 0;
  left: 0;
  background-size:cover;
  background-position:center center;
  margin: 10vw 0 0 40vw;
  filter: drop-shadow( 1px 1px 8px rgba(117, 119, 117, 0.479));
}


.paralax-comments {
    width: 600px;
    height: 900px;
    background-image: url(../images/paralax-intro-master-art/comments-paralax.svg);
    background-repeat: no-repeat;
    position: absolute;
    z-index: 6;
    top: 0;
    left: 0;
    background-size:cover;
    background-position:center center;
    margin: 10vw 0 0 40vw;
}



#sumit-title {
    background: url(../images/holder/no-bg/sumit-logo.svg);
    background-repeat: no-repeat;
    max-width: 100px !important;
    max-height: 40px !important;
    /* position: sticky; */
    z-index: 2!important;
    float: left;
    position: relative;
    filter: invert(50%);
    list-style: none!important;
padding: 45px;
margin: 20px 0 0 30px;
}

#menu-icon {
    background: url(../images/menu-icon.svg);
    background-repeat: no-repeat;
    max-width: 100px !important;
    max-height: 100px !important;
    /* position: relative; */
    z-index: 2!important;
    float: right;
    filter: invert(50%);
    position: sticky;
    list-style: none!important;
padding: 30px;
margin-top: 20px;
    
}

#white-mound {
    height: 100% !important;
    width: 100% !important;
    background-image: url(../images/holder/no-bg/white-mtn.svg);
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    z-index: -20;
    left: 0;
    top: 0;
    background-size:cover;
    margin: 80vw 0 0 -30pxvw;

}
a {

}

/* header copy and buttons */
#header-copy {
    width: 500px;
    height: 400px;
    background-image: url(../images/holder/no-bg/header-copy.svg);
    background-repeat: no-repeat;
    background-position: top left;
    position: absolute;
    left: 0;
    top: 0;
    background-size:cover;
    background-position: left bottom;
    margin: 20vh 10vw 0 7vw;
    z-index: 999;
    filter: drop-shadow(2px 2px 20px rgba(0, 0, 0, 0.248));
}

#log-in {
    width: 140px;
    height: 28px;
    border-radius: 5px 5px 10px 5px;
    border-color: transparent;
    position: absolute;
    z-index: 999999999;
    outline: transparent;
    color: black;
    margin: -260px 0 0 70px;
    box-shadow: 1px 1px 2px rgb(128, 128, 128), inset 1px 1px 8px rgba(255, 255, 255, 0.397);
    font-weight: 600;
}
#sign-up {
    width: 140px;
    height: 28px;
    border-radius: 5px 5px 10px 5px;
    border-color: transparent;
    position: absolute;
    z-index: 999999999;
    outline: transparent;
    color: black;
    margin: -260px 0 0 230px;
    box-shadow: 1px 1px 2px rgb(128, 128, 128), inset 1px 1px 8px rgba(255, 255, 255, 0.397);
    font-weight: 600;
}

#log-in{
background-color: yellowgreen;
}
#sign-up {
    background-color: #55cccc;
} 

button:hover {
    box-shadow: 1px 1px  rgb(128, 128, 128), inset 1px 1px 8px rgba(110, 110, 110, 0.397);
}

/* <---------------------------------------------------
                    
                HEADER ELEMENTS BELOW

 --------------------------------------------------->*/

.cta-cards {
    margin-top: -100px;
}

.blog-posts .post {
    padding: 20px 20px 0;
    position: relative;
}

.blog-posts .card1 {
    transform: translate(150px, 20px);
}

.blog-posts .card2 {
    z-index: 2;
    transform: translate(150px, 20px);
}

.blog-posts .card3 {
    transform: translate(-150px, 20px);
}

#footer {
    text-align: center;
    Color: grey;
    font-size: 20px;
    margin: 0 0 10px 0;
}

details summary::-webkit-details-marker {
    display: none !important;
}
